/* ==========================================================================
   Kat's styles
   ========================================================================== */

/* IMPORT START: LESS */
@import url('variables.less');
@import url('mixins.less');
@import url('typography.less');
@import url('responsive-background.less');
@import url('forms.less');

html, body {
    height:96%;
}

/* nav */

header {
	padding: 20px 0 0 0;
	.logo {
		width: 350px;
		margin: auto;
	}
	img {
		margin-left: 2%;
		vertical-align: middle;
	}
	#logo-metamorphe {
		width: 15%;
	}
	#type-metamorphe {
		width: 80%;
	}
	.button-menu {
		margin: 0 auto;
	}
}

nav {
	box-shadow: 0px 3px 3px rgba(0, 0, 0, .25);
	border-bottom: 1px solid @black;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
    background-color: @white;
    border: none;
}

.navbar-default .nav-justified>li>a:focus, .navbar-default .nav-justified>li>a:hover {
	background: transparent;
	//background-color: @black;
	color: lighten(@black, 35%)
}

.navbar-default .nav-justified>.active>a, .navbar-default .nav-justified>.active>a:focus, .navbar-default .nav-justified>.active>a:hover {
    background: none;
    background-color: @white;
    color: @purple;
    border-image: none;
    border-image-slice: none;
}

.navbar-default .navbar-toggle {
	width: 100%;
    margin: auto;
    border: none;
}

button.navbar-toggle:hover, button.navbar-toggle:focus, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: @white;
	color: @teal;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: @grey;
    margin-top: 12px;
}

/* main */

.hero {
	width: 100%;
	margin: 0 auto;
}

.hero-hp .hero-text {
	padding: 20% 10% 0 10%;
}

section {
	margin-bottom: 25px;
	padding: 0 5%;
}

article, aside {
	img {
		display: block;
		margin: auto;
		width: 100%;
		max-width: 300px;
	}
}

.about {
	img {
		border-radius: 100%;
	}
	/*img:hover {
		box-shadow: none;
	}*/
}

.gallery {
	padding: 25px 0px;
}

.gallery img, .goodies img, .shadow {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.gallery {
	margin-top: 50px;
	background: @black;
	h1 {
		color: @white;
	}
	h4, p {
		text-align: center;
		margin: 0;
	}
	h4 {
		color: @white;
	}
	p {
		color: @white;
	}
	.details {
		position: absolute;
		width: 300px;
		bottom: 0;
		left: 50%;
		margin-left: -150px;
		padding: 10px;
		background: rgba(0,0,0,.7);
	}
}

.gallery-item {
	margin-bottom: 50px;
}

.caption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
	margin-left: -150px;
    width: 300px;
    height: 300px; 
    background: rgba(107, 73, 254, .8);
	p {
		color: @white;
		font-size: 2em;
		line-height: 300px;
	}
}

.goodies {
	background: @grey;
	margin-bottom: 0;
	padding: 25px 20px 50px;
	img {
		height: 200px;
		width: 200px;
	}
	h4 {
		margin-top: 25px;
	}
}


.blog-preview {
	padding: 0 25px;
	.col-sm-4 {
		padding-left: 0;
		padding-right: 0;
	}
}

.post-preview {
	max-width: 500px;
	margin: 0px auto 50px;
	border: 1px solid @grey;
	img {
		max-width: 500px;
	}
	h3, p {
		padding: 0 10px;
	}
}

footer {
	background: linear-gradient(180deg, @purple, @black);
	.icon-group {
		display: block;
		margin-bottom: 25px;
		text-align: center;
	}
	.icon {
		display: inline;
		padding: 5px 10px;
		margin: 0 5px;
		border: 2.5px solid @white;
		border-radius: 50px;
		font-size: 3em;
	}
}

/* IMPORT END | MEDIA QUERIES: LESS */
@import url('mq-small.less');
@import url('mq-medium.less');
@import url('mq-large.less');