/*** LARGE DEVICES: LESS ***/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#navbar > ul {
		width: 60%;
	}

	.hero-hp .hero-text {
		padding: 3% 20% 0;
	}

	.hero-text h2 {
		margin-top: 60px;
		font-size: 3.2em;
		line-height: 1.8em;
	}

	.products {
		padding: 0 15px;
		article {
			padding: 0 35px;
		}
	}

	.goodies {
		img {
			width: 100%;
			height: 100%;
			max-width: 200px;
			max-height: 200px;
		}
	}

	.blog-preview {
		margin: 0 auto 100px;
	}

	.hold-blog {
		max-width: 1400px;
		margin: auto;
	}

}