/*** LARGE DEVICES: LESS ***/

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.products {
		padding: 0 15px;
		article {
			padding: 0 35px;
		}
	}

	.blog-preview {
		margin: 0 auto 100px;
	}

	.hold-blog {
		max-width: 1400px;
		margin: auto;
	}

}