/*** MEDIUM DEVICES: LESS ***/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	section {
		margin-bottom: 60px;
		padding: 0 10%;
	}

	.gallery, .goodies {
		padding: 50px 0px;
	}

	.products {
		padding: 0 10px;
		article {
			padding: 0 20px;
		}
	}

	.hold-blog {
		max-width: 1200px;
		margin: auto;
	}
	
}