/*** MEDIUM DEVICES: LESS ***/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.products-hp article {
		padding-left: 30px;
    	padding-right: 30px;
	}

	.blog-post-hp {
		max-width: 300px; 
	}

	.us-hp {
		img {
			max-width: 300px;
		}
	}
	
	
}