/*** SMALL DEVICES: LESS ***/

/* Small devices (phones and tablets, 768px and up) */
@media (min-width: 768px) { 
	h1 {
		font-size: 3em;
	}
	h3 {
		font-size: 2.5em;
	}

	p {
		font-size: 1.55em;
		line-height: 1.85em;
	}

	#navbar > ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.nav-justified>li {
		width: 18%;
	}

	.nav>li>a {
		padding: 10px;
	}

	.hero-hp {
		padding: 25% 10% 0;
	}

	.signup {
		.mc-field-group {
			width: 35%;
			float: left;
		}
		input {
			width: 95%;
			height: 50px;
		}
		button, input[type="submit"] {
			margin-top: 50px;
			width: 28%;
		}
	}

	.us-hp {
		img {
			margin-top: 120px;
		}
	}

	.products-hp {
		article {
			margin-bottom: 75px;
		}
		.fa {
			font-size: 10em;
		}
	}

	.goodie-hp-details {
		text-align: left;
	}

	.blog-post-hp {
		margin-bottom: 75px;
	}

	.blog-hp {
		button {
			margin-top: 0px;
		}
	}
    
}