/*** SMALL DEVICES: LESS ***/

/* Small devices (phones and tablets, 768px and up) */
@media (min-width: 768px) { 
	body {
		font-size: 105%;
	}

	.navbar-default .nav-justified>li>a {
		font-size: 1.5em;
	}

	#navbar > ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.hero-hp .hero-text {
		padding: 25% 10% 0;
	}

	section {
		margin-bottom: 50px;
		padding: 0 10%;
	}

	.gallery, .goodies {
		padding: 40px 0px;
	}

	.signup {
		.mc-field-group {
			width: 35%;
			float: left;
		}
		input {
			width: 95%;
			height: 50px;
		}
		button, input[type="submit"] {
			margin-top: 50px;
			width: 28%;
		}
	}

	.about {
		img {
			margin-top: 15px;
		}
	}

	.products {
		article {
			margin-bottom: 75px;
		}
		.fa {
			font-size: 10em;
		}
	}

	.goodies {
		article {
			margin-bottom: 5px;
		}
		h4 {
			margin-top: 0;
		}
		button, input[type="submit"] {
			margin-left: 0;
		}
	}

	.blog-preview {
		margin: 0 auto 75px;
		.post-preview {
			width: 30%;
			margin: 1.5%;
		}
		button {
			margin-top: 50px;
		}
	}
    
}