/*** TYPOGRAPHY: LESS ***/

/*** TYPOGRAPHY ***/
body {
    color: @black;
    font-family: @font-body;
    font-size: 1em;
}

h1,h2,h3, h4  {
    font-family: @font-header;
    text-transform: uppercase;
}

h5 {
	font-family: @font-body;
}

h1 {
	margin-bottom: 30px;
	font-size: 2.4em;
	text-align: center;
}

h2 {
	font-size: 2.2em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
	color: @purple;
}

h5 {
	font-size: 1.6em;
	font-weight: 700;
}

p {
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.75em;
}

a, a:active, a:visited {
	color: @teal;
}

a:hover {
	color: darken(@teal, 5%);
}

.button-menu, .button-menu:active, .button-menu:visited {
	color: @black;
	font-size: 1em;
}

.button-menu:hover {
	color: lighten(@black, 35%);
}

.navbar-default .nav-justified>li>a {
	font-family: @font-header;
	font-size: 1.5em;
	color: @black;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
}

.hero-text h2 {
	margin-top: 25px;
	//padding-top: 30px;
	color: @white;
	font-family: @font-body;
	font-size: 2.4em;
	line-height: 1.4em;
	text-align: center;
	text-transform: none;
}

.products {
	.product-icon, h2, h3, p {
		text-align: center;
	}
	h2 {
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 5px;
		font-family: @font-body;
		font-size: 1.8em;
		color: @purple; 
	}
	/*.fa {
		margin-top: 25px;
		margin-bottom: 10px;
		color: @purple;
		font-size: 8em;
	}*/
	.product-icon {
		width: 125px;
		height: 125px;
		margin: 40px auto 5px;
		background: @purple;
		border-radius: 125px;
	}
	.product-icon {
		width: 125px;
		height: 125px;
		padding: 15px;
	}
}

.goodies a:hover,  .goodies a:active{
	text-decoration: none;
}

footer {
	padding: 50px 0;
	p, a, a:active, a:visited {
		color: @white;
		text-align: center;
	}
	a:hover {
	color: @teal;
	}
	.icon:hover {
		border-color: @teal;
	}
}