/*** RESPONSIVE BACKGROUND IMAGE WITH MEDIA QUERIES***/

/* Small screen, non-retina, DEFAULT */
header {
background-color: @White;
//background: url(_sm_1x.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* Small screen, retina */
@media
	only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
	only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 320px), 
	only screen and (     -o-min-device-pixel-ratio: .5) and (min-width: 320px),
	only screen and (        min-device-pixel-ratio: 2) and (min-width: 320px),
	only screen and (      min-resolution: '192dpi') and (min-width: 320px),
	only screen and (      min-resolution: '2dppx')  and (min-width: 320px) {
	header {	
		background-color: @White;
		//background: url(_sm_2x.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* Medium screen, non-retina */
@media only screen and (min-width: 768px) {
	html, body, header {
	    	min-height:100%;
	}
	header {	
		background-color: @White;
		//background: url(_md_1x.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* Medium screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: .5)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: '192dpi') and (min-width: 768px),
only screen and (                min-resolution: '2dppx')  and (min-width: 768px) { 
   header {	
		background-color: @White;
		//background: url(_md_2x.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* Large screen, non-retina */
@media only screen and (min-width: 1200px) {
	header {	
		background-color: @White;
		//background: url(_lg_1x.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* Large screen, retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (     -o-min-device-pixel-ratio: .5)    and (min-width: 1200px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (                min-resolution: '192dpi') and (min-width: 1200px),
only screen and (                min-resolution: '2dppx')  and (min-width: 1200px) { 
	 header {	
		background-color: @White;
		//background: url(_lg_2x.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}